# Equal-weight S&P Index Fund

### Introduction & Library Imports

The S&P 500 is the world's most popular market index. The largest fund that is benchmarked to the SPDR S&P 500 ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course.

There's a static version of the S&P 500 constituents available here.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randonmly generated and (more importantly) has no cost associated with it.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making our first API call

Now it's time to structure our API calls to IEX cloud.

We need the following information from the API:

- Market capitalization for each stock.
- Price of each stock

In [4]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
api_url

'https://sandbox.iexapis.com/stable/stock/AAPL/quote/?token=Tpk_807a2219614e4f1c828f415ea644d6cc'

In [5]:
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'NTSGR A NSTO(B CQKEMSLAEL)DAAGLE/',
 'calculationPrice': 'close',
 'open': 122.31,
 'openTime': 1634213154822,
 'openSource': 'ffiilcao',
 'close': 127.4,
 'closeTime': 1692664226799,
 'closeSource': 'icffloia',
 'high': 125.49,
 'highTime': 1690294791953,
 'highSource': '1ulei  ec5dadimeyr tepn',
 'low': 122.26,
 'lowTime': 1666637649621,
 'lowSource': 'dpe1rim tdyuc nee5la ie',
 'latestPrice': 126.09,
 'latestSource': 'Close',
 'latestTime': 'March 5, 2021',
 'latestUpdate': 1656928631958,
 'latestVolume': 157383680,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexLastUpdated': None,
 'delayedPrice': 127.1,
 'delayedPriceTime': 1667711556569,
 'oddLotDelayedPrice': 126.32,
 'oddLotDelayedPriceTime': 1690399874755,
 'extendedPrice': 125.16,
 'extendedChange': 0.07,
 'extendedChangePercent': 0.00059,
 'extendedPriceTime': 1659149606560,
 'previousClose': 123.17,
 'previousVolume': 179479300,
 'change': 1.34,
 'changePercent': 0.01127,
 'volume': 156661643,
 'iexMarketPercent': None,
 'iexVolume': None,
 'avgTotalVolume': 108700222,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexOpen': 123.69,
 'iexOpenTime': 1640337877249,
 'iexClose': 123.712,
 'iexCloseTime': 1678933529935,
 'marketCap': 2134411975789,
 'peRatio': 34.06,
 'week52High': 149.42,
 'week52Low': 53.06,
 'ytdChange': -0.07635233241525716,
 'lastTradeTime': 1655113894011,
 'isUSMarketOpen': False}

## Parsing our API call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy.

With that said, the data isn't in a proper format yet. We need to parse it first.

In [6]:
price = data['latestPrice']
market_cap = data['marketCap']
market_cap, price

(2134411975789, 126.09)

## Adding our stocks data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas dataframe.

In [7]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [8]:
final_dataframe.append(
    pd.Series([symbol, price, market_cap, 'N/A'], index=my_columns),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       126.09         2134411975789                     N/A

## Looping through the tickers in our list of stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using `for` loop.

## Using batch API calls to improve performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP request are typically one of the slowest components of a script.

Also, API providers will often give discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API call to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [9]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [10]:
symbol_groups = list(chunks(stocks['Ticker'], 100))

In [11]:
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings[:1]:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series([symbol, data[symbol]['quote']['latestPrice'], data[symbol]['quote']['marketCap'], 'N/A'], index=my_columns),
            ignore_index=True
        )

final_dataframe

   Ticker  Stock Price Market Capitalization Number of Shares to Buy
0       A       119.65           35849104604                     N/A
1     AAL        21.40           13109861585                     N/A
2     AAP       171.60           11243351932                     N/A
3    AAPL       127.01         2038537375363                     N/A
4    ABBV       107.40          194596568385                     N/A
..    ...          ...                   ...                     ...
95   CINF       107.67           17208814312                     N/A
96     CL        77.09           65419669458                     N/A
97    CLX       190.67           23918274241                     N/A
98    CMA        72.12           10133967445                     N/A
99  CMCSA        57.65          255492292795                     N/A

[100 rows x 4 columns]

## Calculating the Number of shares to buy

As you can see in the DataFrame above, we still haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [12]:
portfolio_size = input('Enter the value of your portfolio:')

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \nPlease try again:")
    portfolio_size = input('Enter the value of your portfolio:')
    val = float(portfolio_size)

Enter the value of your portfolio:
That's not a number!
Please try again:
Enter the value of your portfolio:

ValueError: could not convert string to float:

In [ ]:
position_size = val/len(final_dataframe.index)

for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])
    
final_dataframe

## Formatting our Excel output

We will be using the XlsxWriter library for python to create nicely-formatted excel files.

XlxsWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlxsWriter works.

### Initiating our XlsxWriter Object

In [17]:
writer = pd.ExcelWriter('recommended-trades.xlsx', engine='xlsxwriter')

final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

### Creating the formats: We'll need for our `.xlsx` file

Formats include colors, fonts and symbols like `%` and `$`. We'll need four main formats for our Excel documents.

- String format for tickets
- `$XX.XX` format for stock prices.
- `$XX,XXX` format for maket capitalization
- Integer format for the number of shares to purchase

In [14]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color, 
        'border': 1
    }
)

dollor_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color, 
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color, 
        'border': 1
    }
)

### Applying the formats to the columns of our xlsx file

We can use the `set_column` method applied to the `Writer.book` object to apply formats to specific columns of our spreadsheets..

Here's and example:

```py
writer.sheets['Recommended Trades'].set_column(
    'B:B', # This tells the method to apply the format to Col B
    18, # This tells the method to apply a column width of 18 pixels
    string_template # This applies the format 'sting_template' to the column
)
```

In [15]:
# writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)
# writer.save()

This codee works, but it voilates the software principle of "Don't Repeat Yourself".

Let's simplify this by putting it in 2 loops:

In [19]:
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollor_format],
    'C': ['Market Capitalization', dollor_format],
    'D': ['Number of Shares to Buy', integer_format]
} 

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])

## Saving our Excel output

Saving our Excel file is very easy.

In [20]:
writer.save()